@media only screen and (min-width:855px) {
    #article {
        width: 800px;
    }
}

@media only screen and (max-width:854px) {
    #article {
        width: 90vw;
    }
}

#article {
    border: 5px solid #000000;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 10px;
    font-family: 'Arial';
    font-size: 120%
}