@font-face {
	font-family: "Lucida";
	src: url(../fonts/lucida.ttf);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  box-shadow: inset 0 0 8px black;
  border-radius: 10px;
}

body {
	height : 100%;
	width : 100%;
	background-image: url(../images/page-bg.png);
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin : 0px;
}

#header {
	width : 100%;
	overflow: hidden;
}

#banner {
	width: 100%;
	background-image: linear-gradient(#FFFFFF, #839bbf);
}

#banner-image {
	margin-left: auto;
	margin-right: auto;
}

#navigation-bar {
	background-color: #000000;
	width: 100%;
}

#nav-bar-list {
	list-style-type: none;
	margin: auto;
	padding: 10px;
	overflow: hidden;
	display: table;
}

#topbar-drip {
	background-image: url(../images/topbar-drip.png);
	background-repeat: repeat-x;
	height: 45px;
}

.nav-bar-item .nav-bar-button{
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

.nav-bar-item {
	float: left;
	border-style: solid;
	border-width: 2px 2px 5px 5px;
	border-radius: 10px;
	border-color: white;
	margin-left: 5px;
	margin-right: 5px;
}

.nav-bar-item:hover {
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
}

.nav-bar-button {
	font-family: Lucida;
	font-size: 20pt;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

img {
	display: block;
}

#main-content {
	overflow: hidden;
}

#page-title {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: xx-large;
	border-top: 5px solid #000000;
	border-bottom: 5px solid #000000;
	background-color: rgba(0, 0 , 0, .1);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
}

#footer {
	background-color: #000000;
	color: white;
	text-align: center;
	padding: 30px 10vw 30px 10vw;
	margin-top: 20px;
	box-shadow: 0px -3px 4px rgba(0, 0, 0, .4);
}
