<footer id="footer"> 
	<div id="foot-notes-container"> 
		<span id="copyright"> 
			&copy;Panas Corporation 2020
		</span> 
		<br>
		<span id="author-notes"> 
			This is a footer note. Put some information here
		</span>
	</div>
</footer>